html, body {
    margin: 0;
    font-family: "Arial";
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(60, 160, 260);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
    height: 100px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(100, 56, 240);
    min-height: 150px;
    padding: 10px;
}
table, th, td{
    text-align: center;
    border: 1px solid black;
}
th{
    font-size: 19px;
    padding: 12px;
}
